.inquiry {
    margin-left: 20px;
    width: 30%;
}

.inquiry h2 {
    margin: 10px 0;
}

.agent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name h2 {
    font-family: var(--author-bold);
    font-size: 34px;
}

.name span {
    text-transform: uppercase;
}

.contact p {
    font-family: var(--satoshi-regular);
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 500px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: var(--primary-color);
    color: black;
    font-family: var(--satoshi-regular);
    outline: none;
}

.button {
    width: 100%;
    padding: 10px 30px;
    background-color: var(--text-color);
    color: var(--primary-color);
    font-family: var(--author-bold);
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3), 0 4px 25px -15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.4), 0 6px 30px -15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}


@media screen and (max-width: 900px) {

    .inquiry {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}