.page {
    max-width: 1800px;
    margin: 0 auto; 
    padding: 0 50px;
}

.error {
    height: calc(100vh - 588px);
    display: block;
    align-content: center;
    text-align: center;
    font-family: var(--satoshi-regular);
}

.error h1 {
    font-size: 150px;
}

.error p {
    font-size: 24px;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 0 20px;
  }
}