.container {
    margin: 45px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin: 25px 0;
}

.card {
    border-radius: 20px;
    // box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.301961), 0px 4px 25px -15px rgba(0, 0, 0, 0.2);
    overflow: hidden;  
    position: relative;
    cursor: pointer;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 10 / 14; 
}

.title {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    bottom: 0;
    display: block;
    align-content: end;
    height: 30%;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    color: var(--background);

    h2 {
        font-family: var(--author-regular);
        font-weight: bold;
    }

}

.button_container {
    width: 100%;
    text-align: center;
}

.button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--author-bold);
    font-size: 16px;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
     transform: translateY(-2px);
     box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.301961), 0px 4px 25px -15px rgba(0, 0, 0, 0.2);
}
