.fields h1 {
    font-family: var(--author-bold);
    margin: 20px 0;
}

.fields input,
.fields textarea {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  width: 100%;
  margin: 20px 0;
  background-color: var(--background);
  color: black;
  font-family: var(--satoshi-regular);
}

.fields input::placeholder,
.fields textarea::placeholder {
  color: #706D6D;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: normal;
}

.fields input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-color);
}

.fields textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-color);
}

.fields input::-webkit-outer-spin-button,
.fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fields input[type=number] {
    appearance: none;           // Standard
    -webkit-appearance: none;   // Safari, Chrome
    -moz-appearance: textfield; // firefox
}

.button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--author-bold);
    font-size: 16px;
    border: none;
    padding: 10px 30px;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.301961), 0px 4px 25px -15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}


.success {
  text-align: center;
  margin-top: 5px;
  color: green;
}

.error {
  text-align: center;
  margin-top: 5px;
  color: red;
}